* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition: .3s;
}

:root {
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


  --primary-color: #1b3a46;

  --primary-dark-color: #12272f;
  --secondary-color: #fce2d3;
  --white-color: #fff;
  --gray-color: #e7e7e7;
}


html, body, app-root {
  height: 100%;
}
